<%- include("includes/head.ejs") %>
<body>
    <h1>Welcome to the Home Page!</h1>
    <p><%= 1 + 2 %></p>
    <p><%= "Jayesh".toUpperCase() %></p>
    <p>This is a simple home page built with EJS.</p>
    <button>submit</button>
</body>
</html>